:root {
    --top-spacing: 20px;
    --right-spacing: 10px;
}

@media (min-width: 768px) {
    :root {
        --top-spacing: 50px;
        --right-spacing: 40px;
    }
}

@media (min-width: 1024px) {
    :root {
        --top-spacing: 65px;
        --right-spacing: 80px;
    }
}